/* ===========================================================================================================

Eindopdracht Programmeren   |   Tessa Schijff   |    Klas: Roze  [19/20]     |       Docent: Fons van Kesteren

==============================================================================================================
/* margin-left: 0.5em; */
/* - - - - - - - - - - algemene tekstopmaak - - - - - - - - - - */
body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Poiret One', 'Roboto', sans-serif;
  color: rgba(225, 170, 35, 1);
  font-size: 30px;
  text-align: center;
}

h2 {
  font-family: 'Poiret One', 'Roboto', sans-serif;
  font-size: 18pt;
  text-align: center;
}

h3 {
  color: rgba(0, 96, 92, 1);
  font-size: 12pt;
}

p {
  color: black;
  font-size: 11pt;
}

/* - - - - - - - - - - FLEX - - - - - - - - - - */
@media screen and (max-width: 800px) {
  #keuze-maken {
    min-width: 100%;
    width: 100%;
  }
}
@media screen and (min-width: 800px) {
  #keuze-maken {
    min-width: 500px;
    width: 500px;
  }
}


/* - - - - - - - - - - Keuzepaneel - - - - - - - - - - */
/*  container*/
.kliko {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* keuzepaneelz section*/
#keuze-maken {
  background-color: rgba(208,208,208, 1);
}
form {
  background-color: white;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  margin:25px;
  padding:25px;
}

/* kleurblokjes */
span.kleur {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 5px;
  text-align: center;
  color: white;
}


#bp-Rood {background-color: #cc0000;}
#bp-Oranje {background-color: #ff6600;}
#bp-Geel {background-color:  #ffcc00;}
#bp-Lime {background-color: #33cc33;}
#bp-Blauw {background-color: #1947a3;}
#bp-Grijs {background-color: #5c5c5c;}

.boldSelected {font-weight: bold;}

#weergave-product{
  margin-left:25px;
  padding-left:25px;
}

/* IMG backpack & patroon */
img.centreren {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  padding:25px;
  max-width: 90%;
}


/*
  DECLARATIE AFBEELDINGEN
  -----------------------
  
Tas (bewerkt)
    https://redlandlondon.com/shop/bags/pantone-large-laptop-backpack-tango-red/
Veren print
    https://www.dreamstime.com/stock-illustration-vector-black-white-feather-pattern-seamless-classical-texture-elegant-sketch-hand-painted-feathers-image72921470
Sterren
    https://www.123rf.com/photo_127636977_stock-vector-star-pattern-star-geometric-background-strip-line-stars-abstract-lines.html
 */